html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  min-width: 1025px;
  background-color: #D0D0D0;
}

header {
  height: 140px;
  background-color: #B2D1D1;
  /*border: 5px solid #002929;*/
}

h1 {
  margin-left: 300px;
  margin-bottom: 30px;
}

h2 {
  color: #800000;
  margin-left: 150px;
}

.logo {
  width: 200px;
  height: 120px;
  /*border:1px solid #808080;*/
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

table {
  border: 1px solid black;
  margin-left: 60px;
  margin-top: 25px;
}

th {
  text-align: left;
  background: #006666;
  color: white;
  padding: 0.4em;
}

td {
  border: 1.5px solid #006666;
  padding: 0.4em;
}

.mighty {
  font-size: 25px;
  /*border:1.5px solid black;*/
  font-family: Impact, Charcoal, sans-serif;
  margin-top: 25px;
}

#form p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#form input {
  margin-left: 10px;
  margin-top: 10px;
}

#sidebar {
  float: right;
  height: 100%;
  width: 300px;
  border: 10px solid #006666;
  margin-top: 20px;
  margin-right: 20px;
}

.buttons button {
  display: block;
  width: 200px;
  height: 30px;
  margin: 10px auto;
  font-size: 15px;
  border: 3px solid rgba(0, 102, 102, 0);
  background: #b2d1d1;
  border-radius: 5px;
  padding-top: 1px;
  margin-bottom: 15px;
}

.buttons button:hover {
  cursor: pointer;
  background: #b2d1d1;
  border: 3px solid #006666;
}

#footer {
  width: 100%;
  height: 80px;
  background-color: #202020;
}

#footer a {
  color: #ffffff;
  float: right;
  padding-right: 30px;
}

.white {
  color: #ffffff;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
}

strong {
  font-weight: bold;
}

html, body {
  height: 100%;
}

#wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px;
}
#wrapper #root_footer {
  height: 80px;
}

#footer {
  clear: both;
  position: relative;
  height: 80px;
}
