@import "compass/reset";
@import "variables";
@import "compass/layout/sticky-footer";

html {
	
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	// width:1100px;
	background-color: $bg;
	position: relative;
}

header {
	// padding-top: 15px;

	margin: 0;
	z-index: 100;
	background-color: white;
	position: fixed;
	width: 100%;
	// height: 120px;
	.header-bg {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: $main;
		margin: 0 !important;
		width: 100%;
	}
	nav {
		text-align: center;
		height: 37px;
		ul {
			margin: 0 auto;
			display: inline-block;
			// border: 1px solid black;
			// text-align: center;
			border-top: 1px dotted $main-full;

			li {
				display: inline-block;
				// margin: 10px 40px;
				margin: 0;
				// border: 1px solid tomato;

				a {
					display: block;
					padding: 8px 10px;
				}

				a:hover {
					text-decoration: none;
					background-color: $main-full;
				}
				
			}
		}
	}

	.heading {
		position: relative;

		div {
			position: absolute;
			top: 5px;
			right: 5px;
			margin: 0;
			padding: 0;
			text-align: right;

			h4 {
				margin: 0;
				padding: 0;
			}
		}
	}
}

form {
	// border: 1px solid red;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 60px 0;
	background-color: rgba(0,208,10,0.1);
	border-radius: 15px;
	font-size: 16px;
	text-align: center;
	input {
		padding: 10px;
		margin-bottom: 25px;
	}

	a {
		padding: 10px;
		font-size: 16px;
	}
	p {
		position: absolute;
		left: 137px;
		bottom: 15px;
	}
}

.form {
	padding-top: 15px;
	position: relative;
	h3 {
		margin-bottom: 25px;
	}
	input {
		width: 320px;
	}

	#start_date {
		width: 150px;
	}
	#end_date {
		width: 150px;
		margin-left: 16px;
	}
	#description {
		width: 320px;
		height: 120px;
		margin-bottom: 15px;
	}
	
	#project_id {
		position: absolute;
		width: 50px;
		top: 86px;
		left: 250px;
	}
	div {
		padding: 0 5px;

		label {
			width: 100px;
		}
	}
	select {
		display: inline-block;
		-webkit-appearance: none;
		height: 40px;
		width: 150px;
		padding-left: 15px;
		margin-bottom: 20px;
	}
	#active {
		margin-left: 16px;
	}

}

table {
	// width: 500px;
	th {
		font-weight: bold;
	}
	.pName {
		width: 150px;
	}
	.desc {
		width: 300px;
	}
	.manager {

	}
	.sDate {
		width: 160px;
	}
	.eDate {
		width: 160px;
	}
	.status {

	}
}

#wrapper {
	padding-top: 170px;
}

.projects {
	box-sizing: border-box;
	border: 1px dashed $main-full;
	border-radius: 15px;
	margin: 10px 0 0 0;
	padding: 15px 10px;
	background-color: $main-light;

}

.tasks {
	@extend .projects;
	position: relative;
	// height: 200px;
	h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
	#name, #manager, #sDate, #eDate, #status {
		position: absolute;
		margin: 0;
		padding: 0;
	}
	#name {
		// top: 0;
		// left: 0;
	}
	#manager {
		// top: 0;
		right: 10px;
	}
	#sDate {
		bottom: 5px;
		left: 10px;
	}
	#eDate {
		bottom: 5px;
		right: 10px;
	}
	#desc {
		padding-top: 60px;
		margin-bottom: 20px;
		// border: 1px solid tomato;
		font-size: 22px;
		text-align: center;
		// left: 0;
	}
	#status {
		top: 55px;
		// left: 0;
	}
	.task-row {
		margin-bottom: 25px;
	}
}

footer {
	background-color: $main;
	position: relative;

	#date {
		position: absolute;
		bottom: 4px;
		right: 8px;
		margin: 0;
		padding: 0;
	}
}

@include sticky-footer(40px, '#wrapper', '#root_footer', '#footer');